
<div class="card-container">
     <div >les détails candidat<br>
    <!-- <img class="img-circle" src='{{pers1.photo }}'/>

    <p>  
      Id  : {{pers1.id }} <br>
        nom : {{pers1.name }}<br>
        prénom : {{pers1.firstname }}<br>  
        age :  {{pers1.age }} <br>       
        cin :  {{pers1.cin }}<br>
        job: {{pers1.job }}<br>
        path: {{pers1.path }}<br>
    </p>
  </div>  -->
</div>   
 <br>
 
 <br> 

 <br> 


<div class="card">
  <div class="front">
    
      <div class="user">
          <img class="img-circle" src='{{pers1.photo }}' />
      </div>
      <div class="content">
          <div class="main">
              <h3 class="name">Nom :{{pers1.name}} {{ pers1.firstname}}</h3>
              <p class="profession"> Travail :{{pers1.job}}</p>

              <p class="text-center">" Age :{{pers1.age}}"</p>
          </div>
          <div class="footer">
              <div class="rating">
                  <i class="fa fa-mail-forward"></i> Auto Rotation
              </div>
          </div>
      </div>
  </div>
  <div class="back">
      <div class="header">
          <h5 class="motto">"Life is like riding a bicycle. To keep your
             balance, you must keep moving.	"</h5>
      </div>
      <div class="content">
          <div class="main">
              <h4 class="text-center">Identifiant: {{pers1.id}}</h4>
              <p class="text-center">LinkedIn: {{pers1.path}}</p>

              <div class="stats-container">
                  <div class="stats">
                      <h4>235</h4>
                      <p>
                          Followers
                      </p>
                  </div>
                  <div class="stats">
                      <h4>114</h4>
                      <p>
                          Following
                      </p>
                  </div>
                  <div class="stats">
                      <h4>35</h4>
                      <p>
                          Projects
                      </p>
                  </div>
              </div>

          </div>
      </div>
      <div class="footer">
          <div class="social-links text-center">
              <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
              <a href="https://creative-tim.com" class="google"><i
                      class="fa fa-google-plus fa-fw"></i></a>
              <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
          </div>
      </div>
  </div>
</div> 
</div>   


